{% load extract_meta %}
<div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
    <span class="text" itemprop="text">{{ quote.quote }}</span>
    <span>by <small class="author" itemprop="author">{{ quote.author }}</small>
    <a href="{% url 'quotes:author_detail' quote.author.slug %}">(about)</a>
    </span>
    <span class="tags">
        <meta class="keywords" itemprop="keywords" content="{{ quote.tags|meta }}" />
        Tags:
        {% for tag in quote.tags %}
            <a class="tag" href="{% url 'quotes:quotes_by_tag' tag %}">{{ tag }}</a>
        {% endfor %}
    </span>
</div>