{% extends "quotes/base.html" %}

{% block content %}

{% load form_helpers %}

<form method="POST" action="{% url 'quotes:quote' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-8">
            <label>Enter the quote:</label>
            {{ form.quote|add_class:"form-control" }}
            <span>{{ form.errors.quote }}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-8">
            <label>Enter tags:</label>
            {{ form.tags|add_class:"form-control" }}
            <span>{{ form.errors.tags }}</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-8">
            <select name="author" required>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.fullname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-8">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn">Reset</button>
        </div>
    </div>
</form>

{% endblock %}